# compiled code
*.pyc

# swap files
*.swp
*.swo
*~
*#

# tox files
.tox/

# virtual env related file
.python-version
venv/

# apple cruft
.DS_Store

# py.test artifacts
__pycache__
.pytest_cache

# coverage files
.coverage
coverage.xml
htmlcov

# ide files
.komodoproject
.komodotools
.classpath
.project
.pydevproject
.settings
.idea
*.iml
*.ipr
*.iws
.vscode/

# build files
target
dist/
*.egg-info/
build/
MANIFEST
.eggs/

# log files
log